# Python
__pycache__

#VS Code
.vscode

# Ignore all binaries.
bin/

# Ignore ie logs
ie.log

# Ignore test coverage
coverage.html
coverage.out

# Ignore git repos checkout out by examples
examples/awesome-aks

# ignore initialization files
.openai
